<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Error {{index . "error_code"}} - {{index . "error_message"}}</title>

        <link href="/assets/css/app.css" rel="stylesheet">
    </head>

    <body>
        <h1 class="text-lg font-semibold text-indigo-500">
            Error {{index . "error_code"}} - {{index . "error_message"}}
        </h1>
        <p>{{index . "error_description"}}</p>
    </body>

</html>